@charset "UTF-8"
/*Linha 3 configurações globais*/
*{ 
    font-family: Arial, Helvetica, sans-serif;
  
}

body {
    background-image: linear-gradient(to right,#5056adaf,#3c4b94af);
}

main {
    background-color:rgba(255, 255, 255, 0.692) ;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.637);(74, 74, 126, 0.637); 
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2b3350;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(44, 12, 95, 0.747);
}

h2 {
    color: #1C2033;
    text-decoration: underline;
}
p {
   color:#33353a ;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}