@charset "UTF-8"
/*abaixo configuramos nosso CSS*/
header {
    width:1300px;
    height:100px;
    background-color: #4fd6b4;
    margin:auto;
    
    
}

body {
    width: 1300px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding-top: 1cm;
}


footer {
    width:1300px;
    height:100px;
    background-color: #d64f4f;
    margin:auto;     
}


